.top-menu-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-top-menu);
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-accent);

  a {
    white-space: nowrap;
    padding: 0.75rem 1rem;
    color: var(--color-primary);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 500;

    &.active {
      text-decoration: underline;
    }
  }
}

.top-menu-fixed img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: filter 0.3s, box-shadow 0.3s, transform 1s cubic-bezier(0.4,0.2,0.2,1);
}

.toggle-img {
  position: absolute;
  opacity: 1;
  transition: opacity 1s, transform 1s;
  will-change: opacity, transform;
}

.toggle-img.exit {
  opacity: 1;
  transform: translateY(-100px); /* Move para cima ao sair */
  z-index: 1;
}

.toggle-img.enter {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.toggle-img.from-top {
  opacity: 0;
  transform: translateY(-50px); /* Move para baixo ao entrar */
}

.icon-home {
  display: block;
}